
<!--
<div class="center jumbotron">
  <h1>Welcome to Stripey</h1>
  <h2>Set up a Stripey store and start selling today!</h2>
  

  <%= link_to "Sign up now!", register_path, class: "btn btn-lg btn-primary" %>
  
</div>

-->

<section class="bg-1 text-center">
  <h1>Test App - Not real products, and credit cards will not be charged</h1>
  <p class="lead">Otherwise, knock yourself out</p>
</section>


<div class="container">


<% @products.each do |product| %>
    
    <div class="col-md-3 product_gallery" >
      <%= link_to image_tag(product.picture.url, size: "250x200", class: "gravatar"), product_path(product.id) if product.picture? %>
      <div class="gallery_h1", width:250 ><%= product.name %></div>
      <div class="gallery_h2", width:250 ><%= truncate(product.summary, :length => 25) + " €" + number_with_precision(product.price, :precision => 2).to_s %></div>
    </div>

<% end %>


  
  
</div>
