<div class="container white_pane">
  
  
  <div class="row">
 
    <% @merchants.each do |merchant| %>
    <div class="h4" ><%= merchant.merchantname %></div>
    <div class="h5" ><%= merchant.email %></div>
    <br>
  <% end %>
  
  </div>
  
  <div class="row">
    
  <%  data = @account_list["data"] %>
    
  <% data.each do |key, array| %>
  <%= "#{key}-----" %>
  <%= array %>
  <br><br>
<% end %>
    
  </div>
</div>  
  
    