$navbar-default-bg: #FFFFFF;


@import "bootstrap-sprockets";
@import "bootstrap";

.merchant_items{
  background: image-url('190_items_blank.png');
  width: 70px;
  height: 70px;
  position: fixed;
  text-align: center;
  padding-top :15px;
}


.glyphicon {
    font-size: 25px;
}

.bg {
  background: url('/assets/images/bg_blueplane.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.white_pane {
  background-color: #FFFFFF;
}

.grey_pane {
  background-color: #EDEDED;
  padding-top: 20px;
  padding-bottom: 20px;

}

.product_header {
  font-size: 1.4em;
  padding-left: 20px;
  padding-right: 20px;
}


.jumbotron {
  margin-bottom: 0px;
  height: 350px;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background:transparent;
}


#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

body {
  padding-top: 80px;
  background-color: #EDEDED;
}

.nav_item {
  margin-left: 25px;
  float: left;
  margin-top: 20px;
}

.center {
  text-align: center;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.left {
  text-align: left;
  letter-spacing: .5px;
}

.footer{
  margin-top: 25px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.merchant_info {
  margin-top: 10px;
}

.gravatar {
  border-radius: 0px;
}

.image_preview {
  border-radius: 0px;
  border: 3px solid #ffffff;
  margin-left: 5px;
  margin-right: 5px;
  
}

.well {
  border: 7px solid #deefd1;
  background-color : #ffffff; 
  margin-top: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #d2d2d2;
  border-radius: 0px;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

span.picture {
  margin-top: 10px;
  input{
    border:  0;
  }
}

.show_product {
  margin: 10px 10px 10px 10px;
}

.sell_on_stipey{
  font-size: 1.1em;
  margin-right: 15px;
  margin-top: 30px;
}

.product_gallery {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #EDEDED;
}

.merchant_gallery {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #FFFFFF;
}

.gallery_h1 {
  font-size: 1.1em;
  background-color: #FFFFFF;
  width: 250px;
  padding-left: 10px;
  padding-top: 5px;
}

.gallery_h2 {
  font-size: 1.0em;
  background-color: #FFFFFF;
  width: 250px;
  color:#528b8b;
  padding-left: 10px;
  padding-top: 5px;
}


.divider {
    height:50px;
}

section {
    height:500px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}

.bg-1 {
	background: image-url('bg_blueplane.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
    height: 400px; /*same height as jumbotron */
}

.cc-errors {
  color: #d9534f;
}

.cc-row{
  padding-left:30px;
}

img {
max-width: 100%;
}


#iframe-container iframe {
    width: 100%;
    height: 400px;
  }


  


